mixin dj_autoescape(off)
    if off
        | {% autoescape off %}
    else
        | {% autoescape on %}

mixin dj_extends(path)
    | {% extends %}


mixin dj_if(condition)
    | {% if #{condition} %}

mixin dj_else
    
    if block
        {% else %}
        block
    | {% endif %}

mixin dj_form()
    form&attributes(attributes)
        {% csrf_token %}
        block